/* Stile per la barra di ricerca */
.search-bar {
    display: flex;
    align-items: baseline;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f3f3f3;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.search-bar select, .search-bar input {
    padding: 10px;
    font-size: 14px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.search-bar button {
    background-color: #ff9900;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
}

.search-bar button:hover {
    background-color: #e68a00;
}

/* Stile per i filtri */
.filter-options {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.colonna {
    flex: 1;
    margin-right: 20px;
}

.colonna label {
    font-size: 14px;
}

.price-range {
    flex: 1;
    margin-right: 20px;
}

.price-range input[type="range"] {
    width: 100%;
}

.filter-actions {
    flex: 0.5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.filter-actions button {
    background-color: #0073e6;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 10px;
}

.filter-actions button:hover {
    background-color: #005bb5;
}

.filter-actions a {
    text-align: center;
    padding: 10px 0;
    color: #0073e6;
    text-decoration: none;
    font-size: 14px;
}

.filter-actions a:hover {
    text-decoration: underline;
}

/* Layout dei prodotti nella sezione principale */
.product-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    flex-wrap: wrap; /* Aggiungiamo questa proprietà per fare in modo che i prodotti vengano stampati su più righe*/
}

.product {
    text-align: center;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 10px;
    width: 200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.product-name {
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 10px;
}

.product-price {
    font-size: 1.1em;
    color: #28a745;
    margin: 10px 0;
}

.product button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.product button:hover {
    background-color: #0056b3;
}
