<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_users.css') }}">

</head>
<body>
    <h1>All Info</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <!--<th>Password</th>-->
                <th>Roles</th>
                <th>Profiles</th> <!-- Nuova colonna per i profili -->
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <!--<td>{{ user.password }}</td>-->
                <td>
                    {% for role in user.roles %}
                        {{ role.name }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </td>
                <td>
                    <ul>
                        {% for profile in user.profiles %}
                            
                            <img src="{{ profile.image_url }}" alt="{{ profile.name }}" width="50" height = "50">
                            <p>{{ profile.id }} {{ profile.name }} {{ profile.surname }}</p>
                              
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Price</th>
                <th>Description</th>
                <th>Availability</th>
                <th>Categories</th>
            </tr>
        </thead>
        <tbody>
            {% for p in products %}
            <tr>
                <td>{{ p.id }}</td>
                <td>{{ p.name }}</td>
                <td>{{ p.price }}</td>
                <td>{{ p.description }}</td>
                <td>{{ p.availability }}</td>
                <td>
                    {% if p.categories %}
                        {% for category in p.categories %}
                            <p>{{ category.name }}</p>
                        {% endfor %}
                    {% else %}
                        <p>Nessuna categoria associata</p>
                    {% endif %}
                    </td>
                
                    
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            {% for r in roles %}
            <tr>
                <td>{{ r.id }}</td>
                <td>{{ r.name }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            {% for c in categories %}
            <tr>
                <td>{{ c.id }}</td>
                <td>{{ c.name }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <table>
        <thead>
            <tr>
                <th>Username in Session</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ session_user.username }}</td>
            </tr>
        </tbody>
    </table>
    <a href="{{ url_for('shop') }}">Back to Shop</a>
</body>
</html>
