<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_shop.css') }}">
</head>
<body>
    <div class="navbar">
        {% if enter %}
            <a href="{{ url_for('info') }}">See Info</a>
        {% endif %}
        <a href="{{ url_for('logout') }}">Logout</a>
    </div>
    <h1>Shop</h1>
    <ul class="product-list">
        {% for p in products %}
            <li class="product-item">
                <img src="{{ p.image_url }}" alt="{{ p.name }}" class="product-image">
                <div class="product-details">
                    <a href="{{ url_for('access_product', product_id=p.id) }}" class="product-link"><h2>{{ p.name }}</h2></a>
                    <p>${{ p.price }}</p>
                </div>
            </li>
        {% endfor %}
    </ul>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="flashes">
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</body>
</html>
