{% extends "base.html" %}

{% block title %}Account{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='account.css') }}">
{% endblock %}

{% block main %}
    <h1>Account</h1>
    <a href="{{ url_for('account.delete') }}">Elimina</a>
    {% if current_user %}
        <table>
            <tr>
                <th>Nome utente</th>
                <td>{{current_user.username}}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>********  
                    <a href="{{ url_for('account.change_password') }}">Modifica</a>
                </td>
            </tr>
            <tr>
                <th>Ruoli</th>
                <td>
                    <ul>
                        {% if current_user.roles %}
                            {% for role in current_user.roles %}
                                <li>{{ role.name }}</li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </td>
            </tr>
        </table>
    {% endif %}

    <h1>Profili</h1>
    <a href="{{ url_for('profile.add', action=1) }}">Aggiungi</a>
    {% if current_user and current_user.roles %}
        {% for p in current_user.profiles %}
            {% if p %}
                <p></p>
                <table>
                    <tr>
                        <th>
                            <a href="{{ url_for('profile.modify', profile_id = p.id) }}">Modifica</a>
                            <a href="{{ url_for('profile.delete', profile_id = p.id) }}">Elimina</a>
                        </th>
                        <td>
                            <img src="{{ p.image_url }}" alt="Nome" width = "50" height = "50">
                        </td>
                        
                    </tr>
                    <tr>
                        <th>Nome</th>
                        <td>{{ p.name }}</td>
                    </tr>
                    <tr>
                        <th>Cognome</th> 
                        <td>{{ p.surname }}</td>
                    </tr>
                    <tr>
                        <th>Data di nascita</th>
                        <td>{{ p.birth_date }}</td>
                    </tr>
                </table>
                {% endif %}
        {% endfor %}
    {% endif %}

    <h1>Metodi di pagamento</h1>
    <a href="{{ url_for('card.add', action = 'profile') }}">Aggiungi</a>
    {% if current_user and current_user.cards %}
    <table>
        <tr>
            <th>
            </th>
            <th>Nome Cognome</th>
            <th>PAN</th>
        </tr>
        {% for card in current_user.cards %}
            {% if card %}
                <tr>
                    <td><a href="{{ url_for('card.delete', card_id = card.id) }}">Elimina</a></td>
                    <td>{{ card.name }} {{ card.surname }}</td>
                    <td>*****{{ card.last_digits }}</td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
    {% endif %}

    <h1>Indirizzi</h1>
    <a href="{{ url_for('address.add', action = 'profile') }}">Aggiungi</a>
    {% if current_user.addresses %}
    <table>
        <tr>
                <th></th>
                <th>Via</th>
                <th>Codice Postale</th>
                <th>Città</th>
                <th>Provincia</th>
                <th>Paese</th>
        </tr>

        {% for address in current_user.addresses %}
            {% if address %}
                <tr>
                    <td>
                        <a href="{{ url_for('address.modify', address_id = address.id) }}">Modifica</a>
                        <a href="{{ url_for('address.delete', address_id = address.id) }}">Elimina</a></td>
                    <td>{{ address.street }}</td>
                    <td>{{ address.postal_code }}</td>
                    <td>{{ address.city }}</td>
                    <td>{{ address.province }}</td>
                    <td>{{ address.country }}</td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
    {% endif %}

    {% if current_user.has_role('seller') and current_user.seller_information%}
        <h1>Informazioni venditore</h1>
        <table>
            <tr>
                <th>IBAN</th>
                    <td>{{ current_user.seller_information.iban }}
                        <a href="{{ url_for('account.modify_iban') }}">Modifica</a>
                    </td>
            </tr>
            <tr>
                <th>Guadagno</th>
                    <td>{{ current_user.seller_information.profit }}</td>    
            </tr>
        </table>

        <h1>Prodotti</h1>
        <a href="{{ url_for('product.add_product') }}">Aggiungi</a>
        {% if current_user.products %}
        <table>
            {% for p in current_user.products %}
                {% if p %}
                    <tr>
                        <th><a href="{{ url_for('product.modify_product', product_id = p.id) }}">Modifica</a>
                            <a href="{{ url_for('product.delete_product', product_id = p.id) }}">Elimina</a></th>
                        <td>
                            <img src="{{ p.image_url }}" alt="Nome" width = "50" height = "50">
                        </td>
                    </tr>
                    <tr>
                        <th>Nome</th>
                        <td>{{ p.name }}</td>
                    </tr>
                    <tr>
                        <th>Categoria</th>
                        <td>{{ p.category.name }}</td>
                    </tr>
                    <tr>
                        <th>Descrizione</th>
                        <td>{{ p.description }}</td>
                    </tr>
                    <tr>
                        <th>Prezzo</th>
                        <td>€{{ p.price }}</td>
                    </tr>
                    <tr>
                        <th>Disponibilità</th>
                        <td>{{ p.availability }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
        {% endif %}

        <!--Non devo accedere ai prodotti da current_user, ma dagli ordini, altrimenti se elimino un prodotto non vedo più la modifica dello stato di quel prodotto-->
        <h1>Ordini dei propri prodotti</h1>
        {% if order_products %}
            <table>
                <tr>
                    <th>Compratore</th>
                    <th>Data</th>
                    <th>Nome</th>
                    <th>Stato</th>
                </tr>
                {% for order_product in order_products %}
                        {% if order_product and order_product.state.name != "Consegnato" %}
                            <tr>
                                <td>{{ order_product.order.user.username }}</td>
                                <td>{{ order_product.order.order_date.strftime('%d-%m-%Y %H:%M') }}</td>
                                <td>{{ order_product.product_name }} (x {{ order_product.quantity }})</td>
                                <th>{{ order_product.state.name }} <a href="{{ url_for('shop.modify_order_state', order_product_id = order_product.id) }}">Modifica</a></th>
                            </tr>
                        {% endif %}
                {% endfor %}
            </table>
        {% endif %}
    {% else %}
        <a rel="stylesheet" href="{{ url_for('account.become_seller') }}">Diventa un venditore!</a>
    {% endif %}
{% endblock %}