<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='shop.css') }}">
</head>
<body>
    <header>
        <div class="header-left">
            <!-- Logo -->
            <a href="{{ url_for('auth.home') }}">
                <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo" class="logo">
            </a>
        </div>
    </header>
    
    <h1>Create new product</h1>

    <form action="{{ url_for('shop.add_product') }}" method="POST" id="create_product-form">
        <div class="colonna">
            {% for category in categories %}
                <input type="checkbox" id="{{ category.name }}" name="selected_categories_product" value="{{ category.name }}">
                <label for="{{ category.name }}">{{ category.name }}</label><br>
            {% endfor %}
        
            <input type="text" id="name" name="name" placeholder="Nome" required>
            <input type="number" id="price" name="price" placeholder="Prezzo" min="0" max = "6000" step="0.01" required>
            <input type="text" id="image-url" name="image-url" placeholder="URL immagine">
            <input type="text" id="description" name="description" placeholder="Descrizione" required>
            <input type="number" id="availability" name="availability" placeholder="Disponibilità" min="1" max="100" step="1" required>
            <button type="submit">Add</button>
        </div>
    </form>
    
    <a href="{{ url_for('profile.profile') }}">Annulla</a>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="flashes">
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</body>
</html>
