<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cambio password</title>
</head>
<body>
    <header>
        <div class="header-left">
            <!-- Logo -->
            <a href="{{ url_for('auth.home') }}">
                <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo" class="logo">
            </a>
        </div>
        <div class="header-right">
            <a href="{{url_for('auth.login')}}">Login Page</a>
            <a href="{{url_for('auth.register')}}">Register Page</a>
        </div>
    </header>
    <h1>Cambio password</h1>
    <p>Per favore, conferma la tua vecchia password e inserisci la nuova password.</p>
    <form action="{{ url_for('account.change_password') }}" method="POST">
        <input type="password" id="old_password" name="old_password" placeholder="Old Password" required>
        <input type="password" id="new_password" name="new_password" placeholder="New Password" required>
        <input type="password" id="confirm_new_password" name="confirm_new_password" placeholder="Conferma Password" required>
        <button type="submit">Conferma</button>
    </form>
    <a href="{{ url_for('profile.profile') }}">Annulla</a>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="flashes">
                {% for category, message in messages %}
                    <li class="{{ category }}">{{category }}: {{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</body>
</html>