{% extends "base.html" %}

{% block title %}Modifica profilo{% endblock %}

{% block main %}
    <h1>Nuovo profilo</h1>
    <form method="POST" action="{{ url_for('profile.modify') }}">
        <input type="text" id="name" name="name" placeholder="Nome">
        <input type="text" id="surname" name="surname" placeholder="Cognome">
        <input type="date" id="birth_date" name="birth_date" placeholder="Data di nascita">
        <button type="submit">Aggiungi modifiche</button>
    </form>
    <a href="{{ url_for('account.view') }}">Annulla</a>
{% endblock %}