<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conferma Password Account</title>
</head>
<body>
    <header>
        <div class="header-left">
            <!-- Logo -->
            <a href="{{ url_for('auth.home') }}">
                <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo" class="logo">
            </a>
        </div>
        <div class="header-right">
            <a href="{{url_for('auth.login')}}">Login Page</a>
            <a href="{{url_for('auth.register')}}">Register Page</a>
        </div>
    </header>
    {% if action == 0 %}
        <h1>Conferma Eliminazione Account</h1>
        <p>Per favore, inserisci la tua password per confermare l'eliminazione del tuo account.</p>
        <form action="{{ url_for('account.delete_account') }}" method="POST">
            <input type="password" id="password" name="password" placeholder="password">
            <button type="submit">Conferma Eliminazione</button>
        </form>
        <a href="{{ url_for('profile.profile') }}">Annulla</a>
    {% elif action == 1 %}
        <h1>Conferma Per Diventare Seller</h1>
        <p>Per favore, inserisci la tua password per poter diventare un seller.</p>
        <form action="{{ url_for('account.add_seller_role') }}" method="POST">
            <input type="password" id="password" name="password" placeholder="password">
            <button type="submit">Conferma</button>
        </form>
        <a href="{{ url_for('profile.profile') }}">Annulla</a>

        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="flashes">
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    {% endif %}
</body>
</html>
