{% extends "base.html" %}

{% block title %}Pagina amministratore{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='users.css') }}">
{% endblock %}

{% block main %}
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        {% for r in roles %}
        <tr>
            <td>{{ r.id }}</td>
            <td>{{ r.name }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        {% for c in categories %}
        <tr>
            <td>{{ c.id }}</td>
            <td>{{ c.name }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        {% for c in states %}
        <tr>
            <td>{{ c.id }}</td>
            <td>{{ c.name }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<h1>Informazioni Utenti</h1>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome utente</th>
            <th>Profili</th>
            <th>Indirizzi</th>
            <th>Carte</th>
            <th>Ordini</th>
            <th>Prodotti in vendita</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.username }}
                {% for role in user.roles %}
                    <li>{{ role.name }}</li>
                {% endfor %}
                {% if user.seller_information %}
                <p>IBAN: {{ user.seller_information.iban }}</p>
                <p>Profitto: {{ user.seller_information.profit }}€</p>
                {% endif %}
            </td>
            <td>
                <ul>
                    {% for profile in user.profiles %}
                    <li>
                        <img src="{{ profile.image_url }}" alt="{{ profile.name }}" width="50" height="50">
                        {{ profile.name }} {{ profile.surname }}
                        <!-- Carrello associato al profilo -->
                        <ul>
                            {% for item in profile.cart_items %}
                            <li>{{ item.product.name }} - Quantità: {{ item.quantity }}</li>
                            {% else %}
                            <li>Carrello vuoto</li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% endfor %}
                </ul>
            </td>
            <td>
                <ul>
                    {% for address in user.addresses %}
                    <li>{{ address.street }}, {{ address.city }}</li>
                    {% endfor %}
                </ul>
            </td>
            <td>
                <ul>
                    {% for card in user.cards %}
                    <li>{{ card.card_type }}  ****{{ card.last_digits }}</li>
                    {% endfor %}
                </ul>
            </td>
            <td>
                <ul>
                    {% for order in user.orders %}
                    <li>Ordine #{{ order.id }}</li>
                    {% endfor %}
                </ul>
            </td>
            <td>
                <ul>
                    {% for product in user.products %}
                    <li>{{ product.id}} - {{ product.name }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
