{% extends "base.html" %}

{% block title %}Modifica IBAN{% endblock %}

{% block main %}
    <h1>Modifica IBAN</h1>
    <form action="{{ url_for('account.modify_iban') }}" method="POST">
        <input type="text" name="iban" placeholder="IBAN" value = "{{ current_user.seller_information.iban }}" min="27" max="27" pattern="[A-Z0-9]{27}" title="Il codice iban deve essere di 27 caratteri alfanumerici" required>
        <input type="password" name = "password" placeholder="Conferma password" required>
        <button type="submit">Modifica</button>
    </form>
    <a href="{{ url_for('account.view') }}">Annulla</a>
{% endblock %}