{% extends "base.html" %}

{% block title %}Modifica indirizzo{% endblock %}

{% block main %}
    <h1>Modifica indirizzo</h1>
    <p>Modifica i dati</p>
    <form action="{{ url_for('address.modify', address_id=address.id) }}" method="POST">
        <input type="text" id="street" name="street" placeholder="Via" value = "{{address.street}}" required>
        <input type="number" id="postal_code" name="postal_code" placeholder="Codice postale"  value = "{{address.postal_code}}" minlength="5" maxlength="5" pattern="\d{5}" title="Il codice postale deve essere di 5 cifre" required>
        <input type="text" id="city" name="city" placeholder="Città" value = "{{address.city}}" required>
        <input type="text" id="province" name="province" placeholder="Provincia" value="{{address.province}}" required>
        <input type="text" id="country" name="country" placeholder="Paese" value="{{address.country}}" required>
        <button type="submit">Modifica</button>
    </form>
    <a href="{{ url_for('account.view') }}">Annulla</a>
{% endblock %}