<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cambio password</title>
</head>
<body>
    <h1>Cambio password</h1>
    <p>Per favore, conferma la tua vecchia password e inserisci la nuova password.</p>
    <form action="{{ url_for('account.save_password') }}" method="POST">
        <input type="password" id="old_password" name="old_password" placeholder="Old Password" required>
        <input type="password" id="new_password" name="new_password" placeholder="New Password" required>
        <input type="password" id="confirm_new_password" name="confirm_new_password" placeholder="Conferma Password" required>
        <button type="submit">Conferma</button>
    </form>
    <a href="{{ url_for('profile.profile') }}">Annulla</a>
</body>
</html>