{% extends "base.html" %}

{% block title %}Notifiche{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='notifications.css') }}">
{% endblock %}

{% block main %}
    <h1>Lista Notifiche</h1>
    <table>
        <thead>
            <tr>
                <th>Notifica</th>
                <th>Mittente</th>
                <th>Destinatario</th>
                <th>Prodotto</th>
                <th>Tipo</th>
                <th>Data</th>
                <th>Azioni</th>
            </tr>
        </thead>
        <tbody>
            {% if notifications %}
                {% for notification in notifications %}
                    <tr>
                        <td>{{ notification.id }}</td>
                        <td>{{ notification.sender.username }}</td>
                        <td>{{ notification.receiver.username }}</td>
                        <td>{{ notification.product_name }}</td>
                        <td>{{ notification.type }}</td>
                        <td>{{ notification.timestamp.strftime('%d-%m-%Y %H:%M') }}</td>
                        <td>
                            <form action="{{ url_for('notifications.delete', notification_id=notification.id) }}" method="POST">
                                <button type="submit">Cancella</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="7">Nessuna notifica disponibile</td>
                </tr>
            {% endif %}
        </tbody>
    </table>

    <form action="{{ url_for('notifications.delete_all') }}" method="POST">
        <button type="submit" class="delete-all">Cancella tutte le notifiche</button>
    </form>
{% endblock %}