{% extends "base.html" %}

{% block title %}Notifiche{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='notifications.css') }}">
{% endblock %}

{% block main %}
    <h1>Lista Notifiche</h1>
    <table>
        <thead>
            <tr>
                <th>Notifica</th>
                <th>Mittente</th>
                <th>Destinatario</th>
                <th>Prodotto</th>
                <th>Tipo</th>
                <th>Data</th>
                <th>Azioni</th>
            </tr>
        </thead>
        <tbody>
            {% if notifications %}
                {% for notification in notifications %}
                    <tr>
                        <td>{{ notification.id }}</td>
                        <td>{{ notification.sender.username }}</td>
                        <td>{{ notification.receiver.username }}</td>
                        <td>{{ notification.order_product.product_name }} (x {{notification.order_product.quantity}})</td>
                        <td>{{ notification.type }}</td>
                        <td>{{ notification.timestamp.strftime('%d-%m-%Y %H:%M') }}</td>
                        <td>
                            <a href="{{ url_for('notification.delete', notification_id=notification.id) }}">Cancella</a>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="7">Nessuna notifica disponibile</td>
                </tr>
            {% endif %}
        </tbody>
    </table>

    <a href="{{ url_for('notification.delete_all') }}" method="POST">Cancella tutte le notifiche</a>
{% endblock %}