<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Product</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
</head>
<body>
    
    <h1>Order product</h1>

    <form action="{{ url_for('product.order_product', product_id = product.id) }}" method="POST">
        <div class="colonna">
            {%if current_user.addresses%}
            {% for address in current_user.addresses %}
                <input type="radio" id="{{ address.id }}" name="selected_address_id" value="{{ address.id }}" required>
                <label for="{{ address.id }}">{{ address.street }},{{address.city}},{{address.postal_code}},{{address.province}},{{address.country}}</label><br>
            {% endfor %}
            <a href="{{url_for('address.add', action = product.id)}}">Aggiungi indirizzo</a>
            {%else%}
            <a href="{{url_for('address.add', action = product.id)}}">Non hai indirizzi. Aggiungine uno</a>
            {%endif%}
        </div>
        <input type="number" value = "1" name = "quantity" required min = "1" max = "{{product.availability}}">
        <button type="submit">Add</button>
    </form>
    
    <a href="{{ url_for('product.access_product', product_id = product.id) }}">Annulla</a>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="flashes">
                {% for category, message in messages %}
                <li class="{{ category }}">{{category }}: {{ message }}</li>                
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</body>
</html>
