<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ordini</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='orders.css') }}">
</head>
<body>
    <header>
        <div class="header-left">
            <!-- Logo -->
            <a href="{{ url_for('shop.homepage') }}">
                <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo" class="logo">
            </a>
        </div>
        <div class="header-right">
            <div class="navbar">
                
                {%for profile in current_user.profiles%}
                <a href="{{ url_for('profile.select_profile', profile_id = profile.id, action = 2) }}"">{{profile.name}}</a>
                {%endfor%}
                <a href="{{ url_for('shop.shop') }}">Back to shop</a>
            </div>
        </div>
    </header>
    <main>
        <h1>Lista Ordini</h1>
        <table>
            <thead>
                <tr>
                    <th>ID Ordine</th>
                    <th>Data Ordine</th>
                    <th>Indirizzo Spedizione</th>
                    <th>Prodotti</th>
                    <th>Prezzo Totale</th>
                    <th>Profilo</th>
                    
                </tr>
            </thead>
            <tbody>
                {%if current_user.profiles%}
                    {% for profile in current_user.profiles%}
                        {%if profile.id == session['current_profile_id']%}
                            {%if profile.orders%}
                                {%for order in profile.orders%}
                                <tr>
                                    <td>{{ order.id }}</td>
                                    <td>{{ order.order_date.strftime('%d-%m-%Y') }}</td>
                                    <td>{{ order.address }}</td>
                                    <td>
                                        <ul>
                                        {%if order.products%}
                                            {% for product in order.products %}
                                                {% if product.product_id %}
                                                    <li><a href="{{url_for('product.access_product', product_id=product.product_id)}}">{{product.product_name}}</a> (x{{ product.quantity }}) {{product.state.name}}</li>
                                                {% else %}
                                                    <li>{{ product.product_name }} (x{{ product.quantity }}) {{product.state.name}}</li>
                                                {% endif %}
                                            {% endfor %}
            
                                        {%endif%}
            
                                            
            
                                        </ul>
                                    </td>
                                    <td>{{ order.total_price }}</td>
                                    {%if order.profile_id%}
                                    <td><a href="{{url_for('profile.profile')}}">{{order.profile_name}}</a></td>
                                    {%else%}
                                        <td>Profilo inesistente. Ultimo nome:{{order.profile_name}}</td>
                                    {%endif%}
                                </tr>
                                {%endfor%}
                        {%else%}
                        <tr>
                            <td colspan="5">Nessun ordine trovato</td>
                        </tr>
                        {%endif%}
                    {%endif%}
                {%endfor%}
            {%endif%}

                
            </tbody>
        </table>
    </main>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="flashes">
                {% for category, message in messages %}
                    <li class="{{ category }}">{{category}}: {{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</body>
</html>