<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select your profile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='profile_selection.css') }}">
</head>
<body>
    <header>
        <div class="header-left">
            <!-- Logo -->
            <a href="{{ url_for('auth.home') }}">
                <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo" class="logo">
            </a>
        </div>
        <div class="header-right">
            <a href="{{ url_for('auth.logout') }}">Logout</a>
        </div>
    </header>
    <main>
        <h1>Select your profile</h1>
        <div class="profile-selection">
            {% for profile in current_user.profiles %}
                <div class="profile-card">
                    <img src="{{ profile.avatar }}" alt="Avatar" class="profile-avatar">
                    <p class="profile-name">{{ profile.name }}</p>
                    <a href="{{ url_for('profile.select_profile', profile_id=profile.id, action = 0) }}" class="profile-button">Select profile</a>
                </div>
            {% endfor %}
            <div class="profile-card">
                <a href="{{ url_for('profile.add_profile', action = 0) }}" class="profile-button">New profile</a>
            </div>
        </div>
    </main>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="flashes">
                {% for category, message in messages %}
                    <li class="{{ category }}">{{category}}:{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</body>
</html>
