{% extends "base.html" %}

{% block title %}Seleziona profilo{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='profile_selection.css') }}">
{% endblock %}

{% block main %}
    <h1>Seleziona il tuo profilo</h1>
    <div class="profile-selection">
        {% for profile in current_user.profiles %}
            <div class="profile-card">
                <img src="{{ profile.avatar }}" alt="Avatar" class="profile-avatar">
                <p class="profile-name">{{ profile.name }}</p>
                <a href="{{ url_for('profile.select_id', profile_id=profile.id, action = 0) }}" class="profile-button">Seleziona profilo</a>
            </div>
        {% endfor %}
        <div class="profile-card">
            <a href="{{ url_for('profile.add', action = 0) }}" class="profile-button">Nuovo profilo</a>
        </div>
    </div>
{% endblock %}