<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='profile.css') }}">
    <script>
        function enableEditing() {
            document.getElementById("username").removeAttribute("readonly");
            document.getElementById("editButton").style.display = "none";
            document.getElementById("saveButton").style.display = "inline-block";
        }

        function disableEditing() {
            document.getElementById("username").setAttribute("readonly", "readonly");
            document.getElementById("editButton").style.display = "inline-block";
            document.getElementById("saveButton").style.display = "none";
        }

        function saveChanges() {
            // Qui puoi aggiungere la logica per salvare le modifiche al server tramite AJAX o form submit
            document.getElementById("profileForm").submit();
        }
    </script>
</head>
<body>
    <a href="{{url_for('shop.shop')}}">Back to shop</a> 
    <h1>Account</h1>
    <a href="{{ url_for('account.delete_account') }}"">Elimina</a>
        <table>
            <tr>
                <th>Username</th>
                <td>{{current_user.username}}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>********  
                    <a href="{{ url_for('account.change_password') }}"">Modifica</a>
                </td>
               
            </tr>
            <tr>
                <th>Roles</th>
                <td>
                    <ul>
                        {% for role in current_user.roles %}
                            <li>{{ role.name }}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        </table>
        <h1>Profiles</h1>
        <a href="{{ url_for('profile.add_profile') }}"">Aggiungi</a>
        {% for p in current_user.profiles %}
            <p></p>

            <table>
                <tr>
                    <th>
                        <a href="{{ url_for('profile.preparing_profile_changes', profile_id = p.id) }}">Modifica</a>
                        <a href="{{ url_for('profile.delete_profile', profile_id = p.id) }}">Elimina</a>
                    </th>
                    <td>
                        <img src="{{ p.image_url }}" alt="Nome" width = "50" height = "50">
                    </td>
                    
                </tr>
                <tr>
                    <th>Name</th>
                    <td>{{ p.name }}</td>
                </tr>
                <tr>
                    <th>Surname</th>
                    <td>{{ p.surname }}</td>
                </tr>
                <tr>
                    <th>Birth Date</th>
                    <td>{{ p.birth_date }}</td>
                </tr>
            </table>

        {% endfor %}
        
        <!--<div class="buttons">
            <button type="button" id="editButton" onclick="enableEditing()">Modifica</button>
            <button type="button" id="saveButton" onclick="saveChanges()" style="display: none;">Salva</button>
        </div>
    -->
    
    <h1>Products</h1>
    {% if current_user.has_role('seller') %}
    <a href="{{ url_for('shop.create_product') }}">Aggiungi</a>
        {% for p in current_user.products %}
            <table>
                <tr>
                    <th><a href="{{ url_for('shop.create_product') }}">Modifica</a>
                        <a href="{{ url_for('shop.create_product') }}">Elimina</a></th>
                    <td>
                        <img src="{{ p.image_url }}" alt="Nome" width = "50" height = "50">
                    </td>
                    
                </tr>
                <tr>
                    <th>Name</th>
                    <td>{{ p.name }}</td>
                </tr>
                <tr>
                    <th>Categories</th>
                    <td>|{% for c in p.categories %}
                        {{ c.name }} |
                    {% endfor %}
                    </td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ p.description }}</td>
                </tr>
                <tr>
                    <th>Price</th>
                    <td>${{ p.price }}</td>
                </tr>
                <tr>
                    <th>Availability</th>
                    <td>{{ p.availability }}</td>
                </tr>
                <tr>
                    <th>Associated profile</th>
                    <td>{{ current_user.username }}</td>
                </tr>
            </table>
            <p></p>

        
        {% endfor %}
    {% else %} 
        <p>Non hai prodotti</p>
        <a rel="stylesheet" href="{{ url_for('account.add_seller_role') }}">Diventa un Seller!!</a>

    {% endif %}

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="flashes">
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</body>
</html>
