{% extends "base.html" %}

{% block title %}Registrazione{% endblock %}

{% block main %}
    <h1>Registrazione</h1>

    <form action="{{ url_for('auth.register') }}" method="POST">
        <input type="text" id="name" name="name" placeholder="Nome" required>
        <input type="text" id="surname" name="surname" placeholder="Cognome" required>
        <input type="date" id="birth_date" name="birth_date" placeholder="Data di nascita" required>
        <input type="email" id="email" name="email" placeholder="Email" required>
        <input type="password" id="password" name="password" placeholder="Password" required>
        <div id="password-strength-message"></div>
        <input type="password" id="confirm_password" name="confirm_password" placeholder="Conferma password" required>
        <button type="submit">Registrati</button>
    </form>
    
    <a href="{{url_for('auth.login')}}">Hai già un account? Accedi</a>
{% endblock %}